/* TEXTO */
h1 {
  font-size: 40px;
  text-shadow: 2px 2px #f4f1f4;
  color:black;
}
h2{
  color: black;
}
.h5 {
  color: rgb(1, 14, 14);
}

 


/* DIVERSOS */
.inscricao{
  color:rgba(15, 15, 15, 0.3);
}



/* CARD */

/* PROBLEMA PARA STYLED COMPONENTS =( */

.card-img-top{
  height: 130px;
}
.card-text {
  color: rgb(1, 14, 14);
}


/* CAROUSEL */
.carousel-indicators{
  box-sizing: none;
}
.imgcarousel{
  width: 100%;
  height: 450px;
}
.img-carousel{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.carousel-caption{
  right: 10%;
  position: absolute;
  bottom: 19.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom:1.25rem;
  color:#FFF;
} 
.carousel {
  padding-top: 13px;
  padding-bottom: 13px;
}


/* IMAGE */
.img-fluid{
  height: 342px;
  width: 665px;
}


/* MEDIA */

@media (min-height: 667px){
  .imgcarousel{
    height: 220px;
  }
  .carousel-inner{
    height: 220px;
  }
  .carousel-caption{
    position: sticky;
  }
  .h3carousel{
    font-size: 18px;
  }
  .pcarousel{
    font-size: 13px;
  }
}

@media (min-width: 810px){
  .imgcarousel{
    height: 300px;
  }
  .carousel-inner{
    height: 300px;
  }
}

@media (min-width: 811px){
  .imgcarousel{
    height: 450px;
  }
  .carousel-inner{
    height: 450px;
  }
}
